/* define mixin */

/* flex垂直水平居中
 * @include flex(center, center);
 */
@mixin flex($justifyContent: center, $alignItems: center) {
  display: flex;
  align-items: $alignItems;
  justify-content: $justifyContent;
}
/*  文字超出隐藏...
 * @include ellipsis;
 */
@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* 占比百分百
 * @include percent100;
 */
 
@mixin percent100 {
  width: 100%;
  height: 100%;
}
